* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
https://github.com/ietf-tools/datatracker/commit/51f96eb952160997292af32998467e9f90c40782#diff-02fc34a981bd255e9fc6eb194f2d5ffe055c3a7d13a51ca035a4303eed9dd09aR1507